<h1><%= @dish.name %></h1>
<h5>Description: <%= @dish.description %></h5>
<h5>Ingredients: </h5>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>
<h5>Total Calories: <%= @dish.calorie_count %></h5>